.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.bat
tsconfig.js
*.js
*.log
.babel*
node_modules/
!node_modules/msnodesqlv8
!node_modules/ssh2
!node_modules/cpu-features
!node_modules/asn1
!node_modules/bcrypt-pbkdf
!node_modules/tweetnacl
